__pycache__/
*.py[cod]
*$py.class

.venv/
venv/
env/
ENV/

.pytest_cache/
pytest-cache-files-*/
.mypy_cache/
.ruff_cache/

table.csv
*.hdf5
*_processed_XANES.csv
*_XRF_Spectrum.csv
*.log

.DS_Store
Thumbs.db
